* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #1f1f1f;
  background-color: #f2f4f7;
  line-height: 1.8;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.containerPortfolio {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 0;
  padding: 50px 120px 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  background-color: #fffefe;
  color: black;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #00bcd4;
}

.nav a {
  color: black;
  text-decoration: none;
  margin-left: 55px;
  font-weight: 700;
  position: relative;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav a ::after {
  content: "";
  display: block;
  height: 2px;
  background: #00bcd4;
  width: 0%;
  transition: 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.nav a:hover::after {
  width: 100%;
}

.home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 1px rgb(204, 195, 195);
  background-color: rgba(230, 230, 230, 0.836);
  color: #1f1f1f;
  height: 700px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.homeInner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 400px;
}

.home-content {
  flex: 1;
  min-width: 300px;
}

.home-content h1 {
  font-size: 48px;
  color: #00cae5;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home-content h2 {
  font-size: 28px;
  color: #3a3a3a;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home-content .title {
  font-size: 24px;
  color: #555;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home-content h3 {
  font-size: 20px;
  color: #333;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.social-icon {
  font-size: 22px;
  color: #004aad;
  transition: 0.3s ease;
}

.social-icon a {
  font-size: 1.5rem;
  margin-right: 15px;
  color: #004aad;
  transition: 0.3s ease;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.social-icon a:hover {
  color: #00bcd4;
}

.buttonMe {
  display: inline-block;
  padding: 12px 24px;
  background: #00bcd4;
  color: #000;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s ease;
}

.buttonMe:hover {
  background: #00c3cc;
  box-shadow: 0 0 10px #a6e8ec, 0 0 20px #00f2ff;
  color: #fff;
}

.buttonCV {
  display: inline-block;
  padding: 12px 24px;
  background: #00bcd4;
  color: #000;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s ease;

  margin-top: 20px;
}

.buttonCV i {
  margin-right: 8px;
}

.buttonCV:hover {
  background: #00c3cc;
  box-shadow: 0 0 25px #00f2ff, 0 0 35px #00f2ff;
  color: #fff;
}

.prof-image {
  flex: 1;
  width: 700px;
  clip-path: circle(40%);
  background: linear-gradient(400deg, #00f2ff, #004aad);
  box-shadow: 666 1000px 8000px rgb(194, 50, 50);
}

.prof-image:hover {

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.prof-image img {
  max-width: 100%;

}

.section {
  padding: 60px 0;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 1px 1px rgb(235, 232, 232);
  background-color: rgba(255, 249, 249, 0.3);
  justify-content: center;
  padding: 50px 120px 50px;
}

.about-image {
  position: relative;
  width: 300px;
  height: 360px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: linear-gradient(145deg, #00f2ff, #004aad);
  padding: 8px;
  margin-right: 70px;
  margin-bottom: 80px;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: inherit;
  border: none;
}

.about-text {
  max-width: 600px;
  text-align: left;
}

.about-text h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.about-text p {
  line-height: 1.6;
  color: #555;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  align-items: flex-start;
  box-shadow: 0 0px 0px rgb(125, 111, 111);
  background-color: rgba(255, 255, 255, 0.3);
  width: 500rem;
  padding: 50px 120px 50px;
}

.skills-text {
  flex: 1;
  margin-right: 30px;
  justify-content: center;
  text-align: left;
}

.skills-text .section-title {
  font-size: 28px;
  border-bottom: 3px solid #3b82f6;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.skills-text h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.skills-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #444;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.skills-data {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.skill-item:hover {
  transform: scale(1.5);
}

.skill-item {
  background-color: #f1f5f9;
  padding: 15px;
  border-radius: 10px;
  margin-top: 70px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.skill-item h4 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.skill-item p {
  margin: 0;
  font-size: 20px;
}

.experience-box {
  display: flex;
  padding: 10px 10px;
  gap: 50px;
  margin-top: 50px;
}

.Portfolio-image {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.card p {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 1rem;
}

.card a {
  background-color: #0078d4;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card a:hover {
  background-color: #005a9c;
}

.contact {
  background-color: #c9bfbf;
  box-shadow: 0 30px 45px rgb(163, 75, 75);
  background-color: rgba(255, 249, 249, 0.3);
}

.section-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
  margin-top: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section-text {
  text-align: center;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section-title span {
  display: block;
  font-size: 16px;
  margin-top: 5px;
}

.contact-info span {
  flex: 6;
  font-size: 20px;
  color: black;
  padding: 5px;
}

.containerContact {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 180px;
  justify-content: space-between;
}

.contact-info {
  flex: 1;
  min-width: 70px;
}

.contact-info h3 {
  margin-bottom: 15px;
  font-size: 22px;
}

.contact-info p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.6;
}

.contact-info li {
  margin-bottom: 10px;
  font-size: 14px;
}

.contact-info ul {
  list-style: none;
  font-weight: bold;
}

.contactSection {
  box-shadow: 1px 1px 5px rgb(192, 177, 177);
  background-color: rgba(255, 255, 255, 0.3);
  min-width: 600px;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.form-row {
  display: flex;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid#ccc;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-form button {
  background-color: rgb(121, 82, 90);
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background-color: #00bcd4;
}


.footer {
  background-color: #ffffff;
  color: black;
  text-align: center;
  padding: 20px 0;

}

.footer a {
  display: inline-block;
  color: #00bcd4;
  text-decoration: none;
  margin-top: 10px;
  transition: 0.3s;
}

.footer a :hover {
  color: #fff;
}